# SINGAPORE HDB RESALE PRICES [2017-2020]

## Data Analysis of trends in HDB prices across different locations in Singapore.

In [4]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv("data/hdb_resales.csv")

In [6]:
df.shape

(80164, 19)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80164 entries, 0 to 80163
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   month                   80164 non-null  object
 1   town                    80164 non-null  object
 2   flat_type               80164 non-null  object
 3   block                   80164 non-null  object
 4   street_name             80164 non-null  object
 5   storey_range            80164 non-null  object
 6   storey_height           80164 non-null  object
 7   floor_area_sqm          80164 non-null  float64
 8   floor_area_range        80164 non-null  object
 9   flat_model              80164 non-null  object
 10  lease_commence_date     80164 non-null  int64
 11  remaining_lease         80164 non-null  object
 12  remaining_years_months  80164 non-null  int64
 13  remaining_months        80164 non-null  object
 14  remaining_months_value  80164 non-null  int64
 15  total_remaining_months  80164 non-null  int64
 16  total_leasehold         80164 non-null  int64
 17  percent_lease_left      80164 non-null  float64
 18  resale_price            80164 non-null  int64
dtypes: float64(2), int64(6), object(11)
memory usage: 11.6+ MB

In [8]:
df.head()

,month,town,flat_type,block,street_name,storey_range,storey_height,floor_area_sqm,floor_area_range,flat_model,lease_commence_date,remaining_lease,remaining_years_months,remaining_months,remaining_months_value,total_remaining_months,total_leasehold,percent_lease_left,resale_price
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,mid-high floor,44.0,50,Improved,1979,61 years 04 months,732,4,4,736,99,0.62,232000
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,low floor,67.0,50-100,New Generation,1978,60 years 07 months,720,7,7,727,99,0.61,250000
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,low floor,67.0,50-100,New Generation,1980,62 years 05 months,744,5,5,749,99,0.63,262000
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,low floor,68.0,50-100,New Generation,1980,62 years 01 month,744,1,1,745,99,0.63,265000
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,low floor,67.0,50-100,New Generation,1980,62 years 05 months,744,5,5,749,99,0.63,265000

In [9]:
df.describe()

,floor_area_sqm,lease_commence_date,remaining_years_months,remaining_months_value,total_remaining_months,total_leasehold,percent_lease_left,resale_price
count,80164.000000,80164.000000,80164.000000,80164.000000,80164.000000,80164.000000,80164.000000,8.016400e+04
mean,97.620421,1994.110823,890.775161,5.548027,896.323187,98.545132,0.757953,4.392953e+05
std,24.298659,12.836369,153.728074,3.456553,153.698478,0.500461,0.129524,1.535513e+05
min,31.000000,1966.000000,540.000000,0.000000,544.000000,98.000000,0.460000,1.400000e+05
25%,82.000000,1984.000000,768.000000,3.000000,778.000000,98.000000,0.660000,3.300000e+05
50%,95.000000,1994.000000,888.000000,6.000000,896.000000,99.000000,0.760000,4.088880e+05
75%,113.000000,2003.000000,996.000000,9.000000,1007.000000,99.000000,0.850000,5.150000e+05
max,249.000000,2019.000000,1164.000000,11.000000,1173.000000,100.000000,1.000000,1.258000e+06

### Data Cleaning and Structuring

In [11]:
# changing the data type for the date column types
df["month"] = pd.to_datetime(df["month"])
df["lease_commence_date"] = pd.to_datetime(df["lease_commence_date"])

In [12]:
# remove extra columns that are not needed
df.drop('remaining_years_months', axis='columns', inplace=True)
df.drop('remaining_months_value', axis='columns', inplace=True)
df.drop('total_remaining_months', axis='columns', inplace=True)

In [49]:
df.drop('remaining_months', axis='columns', inplace=True)

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80164 entries, 0 to 80163
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   month                80164 non-null  datetime64[ns]
 1   town                 80164 non-null  object
 2   flat_type            80164 non-null  object
 3   block                80164 non-null  object
 4   street_name          80164 non-null  object
 5   storey_range         80164 non-null  object
 6   storey_height        80164 non-null  object
 7   floor_area_sqm       80164 non-null  float64
 8   floor_area_range     80164 non-null  object
 9   flat_model           80164 non-null  object
 10  lease_commence_date  80164 non-null  datetime64[ns]
 11  remaining_lease      80164 non-null  object
 12  total_leasehold      80164 non-null  int64
 13  percent_lease_left   80164 non-null  float64
 14  resale_price         80164 non-null  int64
dtypes: datetime64[ns](2), float64(2), int64(2), object(9)
memory usage: 9.2+ MB

In [53]:
# Making sure there are no null values in the dataset
pd.isnull(df).sum()
# pd.dropna()
# pd.fillna(0)

month                  0
town                   0
flat_type              0
block                  0
street_name            0
storey_range           0
storey_height          0
floor_area_sqm         0
floor_area_range       0
flat_model             0
lease_commence_date    0
remaining_lease        0
total_leasehold        0
percent_lease_left     0
resale_price           0
dtype: int64

In [58]:
# remove any duplicates
df.duplicated()
# df.drop_duplicates()

0        False
1        False
2        False
3        False
4        False
         ...
80159    False
80160    False
80161    False
80162    False
80163    False
Length: 80164, dtype: bool

In [60]:
df.head()

,month,town,flat_type,block,street_name,storey_range,storey_height,floor_area_sqm,floor_area_range,flat_model,lease_commence_date,remaining_lease,total_leasehold,percent_lease_left,resale_price
0,2017-01-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,mid-high floor,44.0,50,Improved,1970-01-01 00:00:00.000001979,61 years 04 months,99,0.62,232000
1,2017-01-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,low floor,67.0,50-100,New Generation,1970-01-01 00:00:00.000001978,60 years 07 months,99,0.61,250000
2,2017-01-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,low floor,67.0,50-100,New Generation,1970-01-01 00:00:00.000001980,62 years 05 months,99,0.63,262000
3,2017-01-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,low floor,68.0,50-100,New Generation,1970-01-01 00:00:00.000001980,62 years 01 month,99,0.63,265000
4,2017-01-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,low floor,67.0,50-100,New Generation,1970-01-01 00:00:00.000001980,62 years 05 months,99,0.63,265000